

:root {
  
  
  font-family: "Roboto", sans-serif;
 
  
  line-height: 1.5;
 
  margin: 0;
  padding: 0;
  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #202124;
/* background: url(./assets/pngtree-faceted-abstract-background-in-3d-with-shimmering-iridescent-metallic-texture-of-picture-image_3653595.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: contain; */
}



